vti_encoding:SR|utf8-nl
http\://shockrave.macromedia.com/:favorite.html
http\://www.mothers.com/:favorite.html
http\://www.aboutwork.com:favorite.html
http\://www.q101.com/index.htm:favorite.html
http\://www.pepsi.com/:favorite.html
http\://www.sandbox.net/finalbell/pub-doc/home.html:favorite.html
_themes/blitz/btzhsepa.gif:_themes/blitz/graph1.css designed.html offer.html
http\://www.srvnet.com/napa/:favorite.html
http\://www.bigbook.com/:favorite.html
http\://www.earthlink.net/:favorite.html
http\://www.tomco-inc.com/:favorite.html
http\://www.sexmuseum.com/:favorite.html
http\://www.caranddriver.com/:favorite.html
http\://home.netscape.com/bookmark/40/weather.html:favorite.html
http\://www.amazon.com/:favorite.html
http\://www.fbi.gov/:favorite.html
http\://www.virtualflorist.com/:favorite.html
http\://home.netscape.com/bookmark/40/sportsline.html:favorite.html
http\://www.files.com/:favorite.html
http\://www.eiu.edu/~delsigph:designed.html
http\://www.compuserve.com/index1.htm:favorite.html
http\://www.sportschannel.com/:favorite.html
http\://www.tenneco-automotive.com/:favorite.html
http\://www.unitedmedia.com/comics/dilbert/:favorite.html
http\://www.umax.com/welcome.htm:favorite.html
http\://www.freeride.com:favorite.html
http\://www.tvguide.com:favorite.html
http\://www.odci.gov/cia/:favorite.html
http\://www.ecklers.com/:favorite.html
http\://www.bezerk.com/netshow/index.html:favorite.html
http\://www.chicago.tribune.com/:favorite.html
http\://www.iguide.com/index.sml:favorite.html
http\://pwr.com/sportsauthority/:favorite.html
http\://www.mobil.com/:favorite.html
http\://www.saddleman.com/:favorite.html
http\://pathfinder.com/@@avbnrsp4pqiaqkoz/si/:favorite.html
http\://www.greekpages.com/org/si/sss.html:favorite.html
http\://www.columbiahouse.com/:favorite.html
http\://www.penthousemag.com/home.html:favorite.html
http\://www.motortrend.com/:favorite.html
http\://www.4adodge.com/:favorite.html
http\://www.amtrak.com/:favorite.html
http\://www.naa.org/hotlinks/index.html:favorite.html
http\://www.web-ready.com/:favorite.html
http\://www.cat.com/:favorite.html
http\://www.discovery.com/:favorite.html
http\://www.eiu.edu/~panhel:designed.html
http\://www.pioneer.co.jp/:favorite.html
http\://www.match.com:favorite.html
http\://www.marines.com/frame.html:favorite.html
http\://www.talkcity.com/:favorite.html
http\://www.berksys.com/home.html:favorite.html
http\://www.us.dell.com/prodinfo/desktops/dimxps.html:favorite.html
http\://skicentral.com/:favorite.html
http\://www.sharperimage.com:favorite.html
http\://counter.bloke.com/:favorite.html
http\://www.insolvency.co.uk/inslink.html:favorite.html
http\://www.playboy.com/:favorite.html
http\://www.gamecenter.com/:favorite.html
http\://www.blue.aol.com/:favorite.html
http\://www.pennzoil.com/:favorite.html
http\://pathfinder.com/si/:favorite.html
_themes/blitz/btzbul1a.gif:_themes/blitz/graph1.css designed.html offer.html
http\://www.gw2k.com/:favorite.html
http\://www.tsn.com:favorite.html
http\://netsurf.net/ziebart/:favorite.html
http\://www.chevrolet.com/index.html:favorite.html
http\://www.eiu.edu/~eiuifc:designed.html
http\://www.qdeck.com/:favorite.html
http\://www.porsche.be/:favorite.html
http\://www.airforce.com/:favorite.html
http\://www.money.com:favorite.html
http\://www.monster.com:favorite.html
http\://lcweb.loc.gov/homepage/lchp.html:favorite.html
http\://www.city.net:favorite.html
http\://www.moviesounds.com/listing.html:favorite.html
http\://web.mancow.com/mancow/:favorite.html
http\://www.shockwave.com:index.html
http\://www.aol.com:favorite.html
http\://www.bmw.de/:favorite.html
http\://www.planetreebok.com/reebetween.html:favorite.html
http\://www.whitehouse.gov/wh/welcome.html:favorite.html
http\://www.netscapeworld.com:favorite.html
clsid\:d27cdb6e-ae6d-11cf-96b8-444553540000:favorite.html resume.html designed.html index.html offer.html
http\://www.ferrari.it/:favorite.html
http\://www.computercity.com/cc/:favorite.html
http\://www.sony.com/:favorite.html
http\://www.hustler.com/:favorite.html
http\://www.cnet.com/content/builder/:favorite.html
http\://www.billboard-online.com/:favorite.html
http\://www.dana.com/:favorite.html
http\://www.cdnow.com:favorite.html
http\://www.washington.org/attractions/smithsonian.html:favorite.html
http\://www.arcus.lv/~mahno/lyrics.html:favorite.html
http\://www.555-1212.com/aclookup.html:favorite.html
http\://www.brickyard.com/:favorite.html
http\://www.greeksource.com/frat-links/namesearch.cgi:favorite.html
http\://www.fodors.com:favorite.html
http\://www.beckett.com/:favorite.html
http\://www.motorville.com/:favorite.html
http\://www.quakerstate.com/:favorite.html
http\://www.nba.com:favorite.html
http\://www.hotfiles.com/:favorite.html
http\://www.stpt.com/:favorite.html
http\://www.nba.com/:favorite.html
http\://www.firstauction.com/cgi-bin/gx.cgi/guidgx-{bc0870b7-dc3e-137c-c99a-08002080a910}:favorite.html
http\://www.newcentury.net:favorite.html
http\://www.leisureplan.com:favorite.html
http\://www.waiter.com/:favorite.html
http\://www.whowhere.com:favorite.html
http\://www.panasonic.com/:favorite.html
http\://www.pcmag.com:favorite.html
http\://www.summitracing.com/:favorite.html
http\://www.k2sports.com/:favorite.html
http\://www.coca-cola.com/:favorite.html
http\://www.compaq.com/:favorite.html
http\://www.pirelli.com/:favorite.html
http\://www.conner.com/:favorite.html
http\://www.internet.net:favorite.html
http\://www.microsoft.com/windows95/info/updates.htm:favorite.html
http\://www.nipper.com/:favorite.html
http\://home.netscape.com/bookmark/40/yahooligans.html:favorite.html
http\://www.msdignition.com/:favorite.html
http\://www.800florals.com/virtual/:favorite.html
http\://www.rollingstone.com/home.phtml:favorite.html
http\://www.visiblelight.com/mpeg/resource/deposit.htp:favorite.html
http\://www.eiu.edu/~trisigma:designed.html
http\://www.stp.com/start.asp:favorite.html
http\://www.lingenfelter.com/:favorite.html
http\://www.angelfire.com/pages1/wow/index.html:favorite.html
http\://pages.infinit.net/obsidian/home.htm:favorite.html
http\://www.real.com/:favorite.html
http\://www.bonzi.com/netscape/voicenet.htm:favorite.html
http\://www.mite.net/alexv/warez.htm:favorite.html
http\://www.dell.com/:favorite.html
http\://www.gm.com/index.htm:favorite.html
http\://www.liquidglass.com/:favorite.html
http\://www.castrol.com/:favorite.html
http\://www.prestone.com/:favorite.html
http\://www.catalogsite.com/:favorite.html
http\://www.chryslercars.com/:favorite.html
http\://www.edelbrock.com/:favorite.html
http\://www.usps.gov/:favorite.html
http\://www.collegenet.com/:favorite.html
http\://www.eiu.edu/~greekwk:designed.html
http\://www.mercedes-benz.com/:favorite.html
http\://www.politicsnow.com/:favorite.html
http\://www.bigfoot.com/:favorite.html
http\://www.looksmart.com/:favorite.html
http\://www.bmgmusicservice.com/:favorite.html
http\://www.carquest.com/:favorite.html
http\://www.ducati.com/html/regular_home_uk.html:favorite.html
http\://www.cesoft.com/:favorite.html
http\://www.mazda.co.jp/:favorite.html
http\://home.netscape.com/bookmark/40/disney.html:favorite.html
http\://strip-tease.com/club02.html:favorite.html
http\://www.gates.com/gates/auto.html:favorite.html
http\://www.toshiba.com:favorite.html
http\://www.jeepunpaved.com/:favorite.html
http\://www.prodigy.com/:favorite.html
http\://www.educationindex.com/:favorite.html
http\://gagme.wwa.com/~boba/mj.html:favorite.html
http\://www.d-p-g.com/corvettefever/:favorite.html
http\://www.surplusdirect.com:favorite.html
http\://www.honda.com/:favorite.html
http\://www.lexuscars.com/:favorite.html
http\://www.armorall.com/armorall/non_shock/homepage/homepage.html:favorite.html
http\://www.shareware.com/:favorite.html
http\://www.moviesounds.com/:favorite.html
http\://www.valvoline.com/:favorite.html
http\://www.t50.com/:favorite.html
http\://www.nytimes.com:favorite.html
http\://www.hotbot.com:favorite.html
http\://home.gvi.net/~spyder/nascar.html:favorite.html
http\://www.warnerbros.com/:favorite.html
http\://www.cyberspice.com/:favorite.html
http\://www.toyota.com/:favorite.html
http\://www.ups.com/:favorite.html
http\://www.yahoo.com/:favorite.html
http\://www.rapweb.com\:2000/:favorite.html
http\://www.splitfire.com/splitfire/:favorite.html
mailto\:cudmh9@pen.eiu.edu:resume.html honda.html index.html
http\://www.aarp.org:favorite.html
http\://www.delphi.com/:favorite.html
http\://www.eiu.edu/~compmgmt/index.html:favorite.html
http\://www.gamelan.com:favorite.html
http\://www.nissanmotors.com/:favorite.html
http\://www.microsoft.com/ie:index.html
http\://www.indycar.com/:favorite.html
http\://www.compaq.com/products/communications/56k_pres.html:favorite.html
http\://www.movies.com/:favorite.html
http\://www.techweb.com/:favorite.html
http\://www.jaguarcars.com/:favorite.html
http\://www.digits.com:favorite.html
http\://www.spyder.net/duragloss/:favorite.html
http\://www.nfl.com/:favorite.html
http\://www.businessweek.com:favorite.html
http\://chi.yahoo.com/:favorite.html
http\://www.haynes.com/:favorite.html
http\://jediknight.net/:favorite.html
http\://www.eiu.edu/:favorite.html
http\://carpoint.msn.com/vip/chevrolet/camaro:favorite.html
http\://www.infoseek.com/:favorite.html
http\://www.cba.uh.edu/ylowpges/ycategor.html:favorite.html
http\://www.caranddriver.com/hfm/index.html:favorite.html
http\://www.sportsite.com/lange:favorite.html
http\://www.reservations.com/:favorite.html
http\://www.ci.chi.il.us/:favorite.html
http\://www.mitsubishi-motors.co.jp/:favorite.html
http\://www.four11.com/:favorite.html
http\://www.castrolauto.com/:favorite.html
http\://www.microsoft.com/:favorite.html
http\://www.microsoft.com/imagecomposer/usingic/ictips.htm:favorite.html
http\://www.borla.com/:favorite.html
http\://us.imdb.com/:favorite.html
http\://www.golfweb.com/:favorite.html
http\://www.download.com/:favorite.html
http\://www.goodyear.com/:favorite.html
http\://www.slick50.com/:favorite.html
http\://home.netscape.com/bookmark/40/rentnet.html:favorite.html
http\://home.netscape.com/bookmark/40/wsj.html:favorite.html
http\://www.quweb.com/free-counter:favorite.html
http\://www.village.bartlett.il.us/:favorite.html
http\://www.parentsoup.com:favorite.html
http\://www.gartner.com/cgi-bin/gghome:favorite.html
http\://www.rock1035.com/:favorite.html
http\://superpages.gte.net:favorite.html
http\://www.helweg.com/dsp/dspchapters.html:favorite.html
http\://www.mcdonalds.com/main:favorite.html
http\://www.ford.com/:favorite.html
http\://www.abcnews.com:favorite.html
http\://www.trakauto.com/home/index.html:favorite.html
http\://www.chicago-rawhide.com/:favorite.html
http\://www.travelocity.com/:favorite.html
http\://www.fedex.com:favorite.html
http\://adult-pornstar-mall.com/html/excal/satelite/pornlist/pslist2.htm:favorite.html
http\://wxp.atms.purdue.edu/:favorite.html
http\://www.sjmercury.com:favorite.html
http\://www.intel.com/:favorite.html
http\://www.epicurious.com/a_home/a00_home/home.html:favorite.html
http\://www.fit.org/:favorite.html
http\://www.motorola.com/:favorite.html
http\://www.codl.com/:favorite.html
http\://outside.starwave.com:favorite.html
http\://www.turtlewax.com/:favorite.html
http\://www.cdrom.com/:favorite.html
http\://webcrawler.com/:favorite.html
http\://www.gunk.com/index2.asp:favorite.html
http\://home.netscape.com/bookmark/40/womenswire.html:favorite.html
http\://www.pontiac.com/index.html:favorite.html
http\://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab:favorite.html resume.html designed.html index.html offer.html
http\://www.carquest.com/support/:favorite.html
http\://home.netscape.com/bookmark/40/bigbook.html:favorite.html
http\://www.navy.com/:favorite.html
http\://www.meguiars.com/:favorite.html
http\://www.edgar-online.com:favorite.html
http\://www.windows95.com/:favorite.html
http\://www.yahoo.com/search/people/:favorite.html
http\://www.mtv.com/:favorite.html
http\://www.iuma.com:favorite.html
http\://www.nascar.com/:favorite.html
http\://home.netscape.com/bookmark/40/cnn.html:favorite.html
http\://www.excite.com/:favorite.html
http\://www.family.com:favorite.html
http\://www.onsale.com/:favorite.html
http\://www.atvantage.com/usrbin/atvantage:favorite.html
http\://www.wired.com/news/:favorite.html
http\://www.internetsourcebook.com/:favorite.html
http\://www.lamborghini.com/:favorite.html
http\://www.acdelco.com/maintain/l3000.htm:favorite.html
http\://espnet.sportszone.com:favorite.html
http\://www.dowjones.com/:favorite.html
http\://www.acer.com/aac/index.htm:favorite.html
http\://www.netscape.com/download:index.html
http\://www.holley.com/:favorite.html
http\://cnnfn.com/:favorite.html
http\://www.uiuc.edu/cgi-bin/ph:favorite.html
http\://www.callawaycars.com/:favorite.html
http\://www.usatoday.com:favorite.html
http\://home.netscape.com/bookmark/40/gstore.html:favorite.html
http\://www.netday96.com:favorite.html
http\://www.worldnow.com:favorite.html
http\://www.eiu.edu/~delsigph/:favorite.html
http\://www.felpro.com/:favorite.html
http\://www.rsn.com:favorite.html
http\://www.dv2u.com/cgi-bin/bv.cgi:favorite.html
http\://www.vortecheng.com/:favorite.html
http\://lotuscars.com/:favorite.html
http\://www.saleen.com/main.html:favorite.html
http\://206.142.138.250/sk.htm:favorite.html
http\://www.rahal.com/:favorite.html
http\://pathfinder.com/@@nwkltgua4d3kwqic/welcome/:favorite.html
http\://www.hewlett-packard.com/:favorite.html
http\://www.mapquest.com/:favorite.html
http\://www.pepboys.com/:favorite.html
http\://www.dcc.edu/vettenet/:favorite.html
http\://www.microsoft.com/frontpage/:index.html
http\://www.crutchfield.com/:favorite.html
